composer.json
composer.lock
package.json
package-lock.json
readme.md
build
public
node_modules
vendor/
bootstrap/cache/
storage/
.env
.env.*
public/build/
database/*.sqlite
database/*.sql
.prettierrc
.prettierignore
*.config.js
